<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="Agent Life Assistant">
        <activity
            android:name=".AssistantActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".AssistantVoiceService"
            android:exported="true"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
            <meta-data
                android:name="android.voice_interaction"
            android:resource="@xml/voice_interaction_service" />
        </service>
        <service
            android:name=".AssistantSessionService"
            android:exported="false"
            android:permission="android.permission.BIND_VOICE_INTERACTION" />
    </application>
</manifest>
